html,
body {
  height: 100%;
}

:root {
  --z-index-lv1: 1000!important; 
  --z-index-lv2: 2000!important; 
  --z-index-lv3: 3000!important; 
  --z-index-lv4: 4000!important; 
  --z-index-lv5: 5000!important; 
}

.nav-side {
  height: 100%;
  width: 0;
  z-index: var(--z-index-lv2);
  overflow-x: hidden;
  transition: 0.5s;
}

.nav-side ul li {
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

/* Set the size of the div element that contains the map */
#map {
  height: 100%;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

#footer-menu {
  height: 0px;
  transition: height 0.5s;
  transition-timing-function: ease;
  background: white;
}

#header-left-menu {
  z-index: var(--z-index-lv1);
  width: 50px;
}

#open-side-nav {
  width: 24px;
  height: 24px;
}

#img-icon-toei {
  width: 18px;
  height: 18px;
}

#list-bus {
  overflow-y: scroll;
}

#pole {
  max-width:90%;
}

#footer-right {
  z-index: var(--z-index-lv1);
  width: 50px;
}
#footer-right a {
  color: #212529;
}